<h2><%= t('mails.accomplished_mission.greetings') %></h2>

<p>
<%= t('mails.accomplished_mission.p_1') %>
</p>

<p>
<%= t('mails.accomplished_mission.p_2') %>
</p>

<p>
<%= t('mails.accomplished_mission.p_3') %>
</p>

<%= link_to(@mission.title, congratulations_mission_url(@mission), host: t('host')) %>
<p>
<%= t('mails.accomplished_mission.p_4') %>
</p>

<p>
<%= raw t('mails.accomplished_mission.regards') %>
</p>
