
<%= f.label :nickname %>
<%= f.text_field :nickname %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :country %>
<%= f.collection_select :country_id, @countries, :id, :name, :prompt => t('registration.select_country'), :selected => @country.try(:id) %>

<%= f.label :city %>
<%= f.collection_select :city_id, @cities, :id, :name %>

<%= f.label :game_version %>
<%= f.collection_select :game_version_id, GameVersion.all, :id, :name %>

<%= f.label :avatar %>
<%= f.file_field :avatar %>
<%= f.hidden_field :avatar_cache %>

<%= f.label :gender %>
<p>
  <%= f.radio_button :gender, 'male' %>
  <%= label :user_gender, :male %>
  <%= f.radio_button :gender, 'female', :checked => true %>
  <%= label :user_gender, :female %>
</p>

<%= f.fields_for :profile do |profile_form| %>
  <%= profile_form.label :bio %>
  <%= profile_form.text_area :bio, rows: 5 %>
<%end%>

<% if f.object.new_record? %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

<% else %>

  <%= link_to t('actions.change_password'), edit_user_registration_path, :class => 'cancel_account' %>

<% end %>

<p class="buttons">
  <%= link_to t("actions.cancel"), root_path, class: :cancel %>
  <%= f.submit t("actions.save") %>
</p>
