<aside>
  <section class="profile">
    <%= image_tag @user.avatar, class: :avatar %>
    <h1><%= @user.name%></h1>
    <strong><%= @user.city.name %> <span><%= @user.city.country.name %></span></strong>
    <p class="bio">
      <%= @user.profile.bio %>
    </p>
    <a href="" class="more" data-text="<%= t("actions.see_less") %>"><%= t("actions.see_more") %></a>
    <a href=""><%= image_tag("icons/facebook.jpg") %></a>
    <a href=""><%= image_tag("icons/twitter.jpg") %></a>
    <a href=""><%= image_tag("icons/github.jpg") %></a>
    <a href=""><%= image_tag("icons/youtube.jpg") %></a>
    <a href=""><%= image_tag("icons/insta.jpg") %></a>
  </section>
  <section class="points">
    <div class="total-points">
      <%= t("sidebar.user_points", points: @user.points) %>
    </div>
    <div class="badges">
      <%= image_tag("icons/app.jpg") %>
      <%= image_tag("icons/talk.jpg") %>
      <%= image_tag("icons/search.jpg") %>
      <%= image_tag("icons/archive.jpg") %>
    </div>
    <a href="" class="btn btn-ranking"><%= t("ranking.translation") %></a>
  </section>
  <section class="missions">
    <h1><%= t("mission.pluralized") %></h1>
    <ul>
      <% @user.current_chapter.missions.each do |mission| %>
        <% if @user.has_accomplished?(mission) %>
          <%= link_to t("actions.mission_enrollment_link", position: mission.position, title: mission.title),
                      mission_enrollment_path(slug: mission.slug, nickname: @user.nickname) %>
        <% else %>
          <li><%= mission.position %> <span><%= mission.title %></span></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</aside>
