<aside>
  <section class="profile">
    <%= image_tag avatar_url, class: :avatar %>
    <h1><%= current_user.name %></h1>
    <strong><%= current_user.city.name %> <span><%= current_user.city.country.name %></span></strong>
    <p class="bio">
      <%= current_user.profile.bio %>
    </p>
    <%= render "users/social" %>
    <a href="" class="more" data-text="<%= t("actions.see_less") %>"><%= t("actions.see_more") %></a>
  </section>
  <section class="points">
    <div class="total-points">
      <%= t("sidebar.user_points", points: current_user.points) %>
    </div>
    <div class="badges">
      <ul>
        <% badge_for_user(current_user).each do |badge| %>
          <li><%= image_tag badge.image.small %></li>
        <% end %>
      </ul>
    </div>
    <%= link_to t("ranking.translation"), ranking_path, class: 'btn btn-ranking' %>
  </section>
  <section class="missions">
    <h1><%= t("mission.pluralized") %></h1>
    <ul>
      <% current_user.current_chapter.missions.order("position ASC").each do |mission| %>
        <% if current_user.has_accomplished?(mission) || current_user.current_mission == mission %>
          <li><%= link_to t("actions.mission_link", position: mission.position, title: mission.title),
            mission_path(mission) %></li>
        <% else %>
          <li><%= mission.position %> <span><%= mission.title %></span></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</aside>
