<% content_for :head do %>
  <%= stylesheet_link_tag "forms" %>
<% end %>

<aside>
  <section class="profile">
    <%= image_tag(@user.avatar_cache || "photo-placeholder.png") %>
    <h1><%= @user.name %></h1>
    <strong>
      <%= @user.city.name %> <span><%= @user.city.country.name %></span>
    </strong>
    <p>
      <%= @user.profile.bio %>
    </p>
    <a href=""><%= image_tag("icons/facebook.jpg") %></a>
    <a href=""><%= image_tag("icons/twitter.jpg") %></a>
    <a href=""><%= image_tag("icons/github.jpg") %></a>
    <a href=""><%= image_tag("icons/youtube.jpg") %></a>
    <a href=""><%= image_tag("icons/insta.jpg") %></a>
  </section>
</aside>

<%= form_for(@user, html: {multipart: true}) do |f| %>
  <h2>Minhas Configurações</h2>

  <%= render partial: 'form', locals: {f: f} %>
<% end %>
