<section class="content">
  <div class="content-base">
    <ul class="carousel">
      <li>
        <%= image_tag("1.jpg") %>
        <div class="image-title"><span>Missão 3:</span> <%= @user.current_mission_enrollment.mission.title %></div>
      </li>
    </ul>
    <p>
      Minha idéia é fazer as crianças me audarem a plantar 50 arvores perto da minha escola. Todo dia a gente vai pra aula e nota que a cidade está menos arborizada, precisamos respirar melhor e isso só acontece com as árvores. Precisamos ajudar, amigos! Espero vocês!!
    </p>
    <p>
      Minha idéia é fazer as crianças me audarem a plantar 50 arvores perto da minha escola. Todo dia a gente vai pra aula e nota que a cidade está menos arborizada.
    </p>
    <div class="box-social">
      <div class="fb-like" data-href="http://globo.com" data-send="true" data-width="450" data-show-faces="false"></div>
    </div>
    <div id="fb-root"></div>
    <div class="fb-comments" data-href="http://globo.com" data-num-posts="2" data-width="668"></div>
  </div>
</section>

<ul class="other-missions">
  <% for mission in @user.game_version.missions %>
    <li>
      <h2><%= link_to mission.title, mission_path(mission) %></h2>
      <ul class="points-other-mission">
        <li><%= image_tag("icons/search.jpg") %></li>
        <li><h2>300 curtir</h2></li>
        <li><%= image_tag("icons/check.jpg") %></li>
      </ul>
    </li>
  <% end %>
</ul>
