<footer>
  <div class="content">
    <ul>
      <li><%= link_to t("home.footer.about"), page_path(t("pages.about")) %></li>
      <li><%= link_to t("home.footer.how_to"), page_path(t("pages.how_to")) %></li>
      <li><%= link_to t("home.footer.terms"), page_path(t("pages.terms")) %></li>
      <li><%= link_to t("home.footer.principles"), page_path(t("pages.principles")) %></li>
      <% if params[:controller] == 'welcome' && params[:action] == 'index' %>
        <li><%= st("home.footer.creative_commons") %></li>
      <% end %>
    </ul>
  </div>
</footer>
