<footer>
  <ul>
    <li><a href=""><%= t("home.footer.about") %></a></li>
    <li><a href=""><%= t("home.footer.help") %></a></li>
    <li><a href=""><%= t("home.footer.terms") %></a></li>
    <li><a href=""><%= t("home.footer.privacy") %></a></li>
    <li><a href=""><%= t("home.footer.media") %></a></li>
    <li><a href=""><%= t("home.footer.developers") %></a></li>
    <li><a href=""><%= t("home.footer.resources") %></a></li>
    <li><%= st("home.footer.creative_commons") %></li>
  </ul>
</footer>
