<% content_for :head do %>
  <%= stylesheet_link_tag 'home/default' %>
  <%= stylesheet_link_tag 'home/reveal' %>
<% end %>

<% content_for :footer do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("canvas").attr("height", $(window).height());
      $("canvas").attr("width", $(window).width());
    });
  </script>
  <%= javascript_include_tag "home/Tween.js" %>
  <%= javascript_include_tag "home/jquery.mousewheel.js" %>
  <%= javascript_include_tag "home/src_r47/Three.js" %>
  <%= javascript_include_tag "home/jquery.colorbox-min.js" %>
  <%= javascript_include_tag "home/Detector.js" %>
  <%= javascript_include_tag "home/dat.gui.min.js" %>
  <%= javascript_include_tag "home/globe_min.js" %>
  <%= javascript_include_tag "home/jquery.reveal.js" %>
  <script>
    $('div#globeGl_').doGlobe({
      globeRadius: 650,
      backPlateMargin: 10,
      camX: 0,
      camY: -50,
      camZ: 1500,
      cameraTargetX:0,
      cameraTargetY:200,
      cameraTargetZ:0
    });
  </script>
<% end %>
<div class="content">
  <%= image_tag 'home/logo.png', class: :logo %>
  <div class="in">
    <h1><%= t("home.heading") %></h1>
    <p><%= t("home.description") %></p>
    <ul>
      <li><a href="#" data-reveal-id="intro" data-animation="fade" class="sign_up"><%= t("actions.sign_up") %></a></li>
      <li><%= t("home.or") %> <%= link_to t("actions.sign_in"), new_user_session_path, class: "sign_in", :'data-reveal-id' => 'sign_in', :'data-animation' => 'fade' %></li>
    </ul>
  </div>
  <%= render 'shared/footer' %>
</div>
<div id="globeContent">
  <div id="globeGl_" class="globeGl"></div>
</div>

<% @users.each do |user| %>
  <div class="poi hidden" data-lat="<%= user.city.latitude %>" data-long="<%= -user.city.longitude %>" data-url="globe_camPos.html">
    <%= user.city.name %>
  </div>
<% end %>

<%= render 'intro_modal' %>
<%= render 'sign_in' %>
