<% content_for :head do %>
  <%= stylesheet_link_tag "ranking" %>
<% end %>

<section class="content">
  <div class="content-base">
    <h1><span><%=t("ranking.header") %></span> <%= t("ranking.header_description") %></h1>

    <ul class="ranking">
      <% @users_ranking.each_with_index do |user, index| %>
        <li>
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td class="position"><h1><%= index+1 %></h1></td>
              <td>
                <% unless user.avatar.blank? %>
                  <% user.avatar.resize_to_fill(60,60) rescue '' %>
                <% end %>
                <%= image_tag avatar_url(user), :size => "60x60" %>
              </td>
              <td class="name">
                <h2><%= user.name %></h2>
                <p><%= user.city.name %><%= user.city.country.name %></p>
              </td>
              <td>
                <h2><%= user.points %></h2>
                <p><%= user.mission_enrollments.where(accomplished: true).count %> <%= t("ranking.missions_accomplished") %></p>
              </td>
            </tr>
          </table>
        </li>
      <% end %>
    </ul>
  </div>
</section>
