
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	<h2 class="title"><%= t('actions.change_password') %></h2>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, t("actions.new_password") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, t("actions.confirm_new_password") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t("actions.change_password") %></div>
<% end %>
