<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<h2 class="title"><%= t('actions.forgot_password') %></h2>

  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %><br /><br />

  <%= f.submit t("actions.send_reset_instructions"), style: 'width:290px;margin-left:0' %>
<% end %>
