<% content_for :head do %>
  <%= stylesheet_link_tag "congratulations" %>
<% end %>

<section class="content">
  <div class="content-base">
    <%= image_tag @mission.badge.image.medium, :class => "badge" %>
    <h1><%= t('mission.congratulations.title').html_safe %></h1>
    <h2><%= t('mission.indexed_title', position: @mission.position, title: @mission.title).html_safe %></h2>

    <h3><%= t('mission.congratulations.reflect') %> </h3>
    <%= @mission.badge.message.html_safe if @mission.badge.message? %>
    <p><%= link_to t('mission.congratulations.next_mission'), @next_mission, :class => "btn" %><br /></p>
  </div>
</section>

<ul class="other-missions">
  <%= render "mission_enrollments/enrolled_missions" %>
</ul>
