<section class="content">
  <div class="content-base">
    <ul class="carousel">
      <li>
        <div class="image-title mission-title">
          <%= st 'mission.indexed_title', position: @mission.position, title: @mission.title %>
        </div>
        <%= image_tag @mission.image.medium, :class => "image-mission" %>
      </li>
    </ul>
    <div class="mission-content">
      <%= @mission.html_description.html_safe %>
      <%= presenter_for_mission(@mission).mission_html %>
    </div>
  </div>
</section>

<ul class="other-missions">
  <% for enrolled_mission in [] %>
    <li>
      <h2><%= link_to enrolled_mission.title, mission_path(2) %></h2>
      <ul class="points-other-mission">
        <li><%= image_tag("icons/search.jpg") %></li>
        <li><h2>300 curtir</h2></li>
        <li><%= image_tag("icons/check.jpg") %></li>
      </ul>
    </li>
  <% end %>
</ul>
