<section class="content">
  <div class="content-base">
    <h1><%= st 'mission.indexed_title', position: mission.position, title: mission.title %></h1>

    <%= form_for mission.enroll(current_user) do |f| %>

      <%= f.fields_for :enrollment_images do |i| %>
        <%= i.label :image %>
        <%= i.file_field :image %>
      <% end %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>

      <%= f.hidden_field :mission_id %>
      <%= f.hidden_field :user_id %>

      <p class="buttons">
        <%= link_to t('actions.cancel'), mission_path(mission), style: 'font-size:13px;float:right;padding-top:10px' %>
        <%= f.submit button, class: 'btn', style: 'padding-top:5px' %>
      </p>
    <% end %>
  </div>
</section>
