<section class="content">
  <div class="content-base">
    <div class="mission-title">
      <%= st 'mission.indexed_title', position: mission.position, title: mission.title %>
    </div>

    <%= form_for mission.enroll(current_user) do |f| %>

      <%= f.fields_for :enrollment_images do |i| %>
        <%= i.label :image %>
        <%= i.file_field :image %>
      <% end %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.hidden_field :mission_id %>
      <%= f.hidden_field :user_id %>

      <p class="buttons">
        <%= link_to t('actions.cancel'), mission_path(mission), class: :cancel %>
        <%= f.submit button %>
      </p>
    <% end %>
  </div>
</section>
