<% content_for :head do %>
  <%= javascript_include_tag "extensions/slides.min.jquery" %>
  <%= stylesheet_link_tag 'slides' %>

  <script type="text/javascript">
    $(function(){
      $('#slides').slides({
        preload: true,
        preloadImage: 'assets/slides/loading.gif',
        play: 5000,
        pause: 2500,
        hoverPause: true,
        pagination: false
      });
    });
  </script>
<% end %>


<section class="content">
  <div class="content-base">

    <div id="slides">
      <div class="slides_container">
        <div class="slide">
          <%= image_tag("1.jpg") %>
        </div>
        <div class="slide">
          <%= image_tag("1.jpg") %>
        </div>
      </div>
      <a href="#" class="prev"><img src="assets/slides/arrow-prev.png" width="24" height="43" alt="Prev"></a>
      <a href="#" class="next"><img src="assets/slides/arrow-next.png" width="24" height="43" alt="Next"></a>
    </div>
    
    <div>
      <ul class="carousel">
        <li>
          <div class="image-title"><span>Missão 3:</span> Plantando árvores</div>
        </li>
      </ul>

      <p>
        Minha idéia é fazer as crianças me audarem a plantar 50 arvores perto da minha escola. Todo dia a gente vai pra aula e nota que a cidade está menos arborizada, precisamos respirar melhor e isso só acontece com as árvores. Precisamos ajudar, amigos! Espero vocês!!
      </p>
      <p>
        Minha idéia é fazer as crianças me audarem a plantar 50 arvores perto da minha escola. Todo dia a gente vai pra aula e nota que a cidade está menos arborizada.
      </p>
      <div class="box-social">
        <div class="fb-like" data-href="http://globo.com" data-send="true" data-width="450" data-show-faces="false"></div>
      </div>
      <div id="fb-root"></div>
      <div class="fb-comments" data-href="http://globo.com" data-num-posts="2" data-width="668"></div>
    </div>
  </div>
</section>

<ul class="other-missions">
  <%= render "mission_enrollments/enrolled_missions" %>
</ul>
