<section class="content">
  <div class="content-base">
    <ul class="carousel">
      <li>
        <%= image_tag @mission_enrollment.enrollment_images.first.image %>
        <div class="image-title">
          <%= st 'mission.indexed_title', position: @mission_enrollment.mission.position, title: @mission_enrollment.mission.title %>
        </div>
      </li>
    </ul>
    <%= @mission_enrollment.html_description.html_safe %>

    <%= link_to t("actions.update_status"), edit_mission_mission_enrollment_path(@mission_enrollment.mission, @mission_enrollment) %>

    <%= presenter_for_enrollment(@mission_enrollment) %>

    <%= content_tag :div, nil,
      'class'          => 'fb-comments',
      'data-href'      => @mission_enrollment.url,
      'data-num-posts' => 2,
      'data-width'     => 668 %>

</section>

<ul class="other-missions">
  <%= render "mission_enrollments/enrolled_missions" %>
</ul>
