<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Play The Call" %></title>
    <meta charset="UTF-8" >
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <section class="content-header">
        <%= image_tag "logo.png", class: :logo %>
        <ul class="menu">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Minhas Missões", missions_path %>
            </li>
            <li class="settings">
              <%= link_to "Configurações", edit_user_path(current_user) %>
              <ul class="settings-drop">
                <li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
                <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to "Entrar", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Quero Salvar o Mundo", new_user_registration_path, class: 'sign-in' %>
            </li>
          <% end %>
        </ul>
      </section>
    </header>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>

      <% if @user.present? %>
        <%= render 'users/sidebar', locals: {user: @user} %>
      <% end %>
      <%= yield %>
    </div>
    <footer>
    <ul>
        <li><a href="">About</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Media</a></li>
        <li><a href="">Developers</a></li>
        <li><a href="">Resources</a></li>
        <li>&copy; 2012 Play The Call</li>
    </ul>
    </footer>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=262206940557713";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
