<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Play The Call" %></title>
    <meta charset="UTF-8" >
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "jquery" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <% unless params[:controller] == 'welcome' && params[:action] == 'countdown' %>
      <footer>
        <ul>
          <li><a href=""><%= t("home.footer.about") %></a></li>
          <li><a href=""><%= t("home.footer.help") %></a></li>
          <li><a href=""><%= t("home.footer.terms") %></a></li>
          <li><a href=""><%= t("home.footer.privacy") %></a></li>
          <li><a href=""><%= t("home.footer.media") %></a></li>
          <li><a href=""><%= t("home.footer.developers") %></a></li>
          <li><a href=""><%= t("home.footer.resources") %></a></li>
          <li><%= st("home.footer.creative_commons") %></li>
        </ul>
      </footer>
    <% end %>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=262206940557713";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%= yield :footer %>
  </body>
</html>
