<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Play The Call" %></title>
    <meta charset="UTF-8" >
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "jquery" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="beta-banner"></div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_notice" if name.to_s == 'notice' %>
    <% end %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <% unless params[:controller] == 'welcome' && params[:action] == 'countdown' %>
      <%= render 'shared/footer' %>
    <% end %>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=262206940557713";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%= yield :footer %>
  </body>
</html>
