<aside>
  <section class="profile">
    <%= image_tag @user.avatar, class: :avatar %>
    <h1><%= @user.name%></h1>
    <strong><%= @user.city.name %> <span><%= @user.city.country.name %></span></strong>
    <p class="bio">
      <%= @user.profile.bio %>
    </p>
    <a href="" class="more" data-text="Ver menos...">Ver mais...</a>
    <a href=""><%= image_tag("icons/facebook.jpg") %></a>
    <a href=""><%= image_tag("icons/twitter.jpg") %></a>
    <a href=""><%= image_tag("icons/github.jpg") %></a>
    <a href=""><%= image_tag("icons/youtube.jpg") %></a>
    <a href=""><%= image_tag("icons/insta.jpg") %></a>
  </section>
  <section class="points">
    <div class="total-points">
      <%= @user.points %> Pontos
    </div>
    <div class="badges">
      <%= image_tag("icons/app.jpg") %>
      <%= image_tag("icons/talk.jpg") %>
      <%= image_tag("icons/search.jpg") %>
      <%= image_tag("icons/archive.jpg") %>
    </div>
    <a href="" class="btn btn-ranking">Ranking</a>
  </section>
  <section class="missions">
    <h1>Missões</h1>
    <ul>
      <% for mission_enrollment in @user.mission_enrollments %>
        <li><%= mission_enrollment.mission.position %> <span><%= mission_enrollment.mission.title %></span></li>
      <% end %>
    </ul>
  </section>
</aside>
<%= yield %>
<%= parent_layout "application" %>
