<HTML>
  <head>
    <meta charset='utf8' />
    <%= image_tag image_url("logo.png") %>
  </head>
  <body style="width: 600px; margin: 0 auto;">
    <table width="600">
      <tr>
        <p style="font-family: helvetica, arial; font-size: 14px; color: red">
          <%= t 'mails.recover_password.title', name: @user.name %>
        </p>
      </tr>
      <tr>
        <p style="font-family: helvetica, arial; font-size: 12px; color: gray">
          <%= t 'mails.recover_password.body'%>
        </p>
      </tr>
      <tr>
        <a href="", style="font-family: helvetica, arial; font-size: 12px; color: blue">
          <%= t 'mails.recover_password.link' %>
        </a>
      </tr>
      <tr>
        <p style="font-family: helvetica, arial; font-size: 12px; color: gray">
          <%= t 'mails.recover_password.footer', name: @user.name %>
        </p>
      </tr>
    </table>
  </body>
</HTML>
