<% resource.build_profile %>

<aside>
  <section class="profile">
    <%= image_tag "photo-placeholder.png" %>
    <h1><%= @user.name %></h1>
    <% if @user.city %>
      <strong><%= @user.city.name %> <span><%= @user.city.country.name %></span></strong>
    <% end %>
    <p>
      <%= @user.profile.bio %>
    </p>
  </section>
</aside>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f| %>
  <h2 class="title"><%= t('registration.heading') %></h2>

  <%= devise_error_messages! %>

  <%= render partial: '/users/form', locals: {f: f} %>
<% end %>
