<% content_for :head do %>
  <%= stylesheet_link_tag "forms" %>
<% end %>

<aside>
  <section class="profile">
    <%= image_tag(@user.avatar_cache || "photo-placeholder.png") %>
    <h1><%= @user.name %></h1>
    <% if @user.city %>
      <strong><%= @user.city.name %> <span><%= @user.city.country.name %></span></strong>
    <% end %>
    <p>
      <%= @user.bio %>
    </p>
    <a href=""><%= image_tag("icons/facebook.jpg") %></a>
    <a href=""><%= image_tag("icons/twitter.jpg") %></a>
    <a href=""><%= image_tag("icons/github.jpg") %></a>
    <a href=""><%= image_tag("icons/youtube.jpg") %></a>
    <a href=""><%= image_tag("icons/insta.jpg") %></a>
  </section>
  <section class="points">
    <div class="total-points">
      <%= @user.points %>
    </div>
    <div class="badges">
      <%= image_tag("icons/app.jpg") %>
      <%= image_tag("icons/talk.jpg") %>
      <%= image_tag("icons/search.jpg") %>
      <%= image_tag("icons/archive.jpg") %>
    </div>
    <a href="" class="btn btn-ranking">Ranking Mundial</a>
  </section>
  <section class="missions">
    <h1>Missões</h1>
    <ul>
      <% @user.mission_enrollments.each_with_index do |mission_enrollment, index| %>
        <li><%= index %><span>mission_enrollment.title</span></li>
      <% end %>
    </ul>
  </section>
</aside>

<h2>Cadastro</h2>

 <% resource.build_profile %>
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f| %>
  <%= devise_error_messages! %>

  <p>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :sex %>
    <%= f.radio_button :sex, 'male' %> 
    <%= label :user_sex, :male %>
    <%= f.radio_button :sex, 'female' %>
    <%= label :user_sex, :female %>
  </p>


  <%= f.fields_for :profile do |profile_form| %>
    <p>
      <%= profile_form.label :bio %>
      <%= profile_form.text_field :bio %>
    </p>
  <%end%>

  <p>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= link_to "Fazer login com Facebook", user_omniauth_authorize_path(:facebook) %>

<%= render "devise/shared/links" %>
